<div class="d-flex justify-content-center align-items-center">
  <%= form_with model:@place, local: true do |f| %>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :category %>
        <%= f.collection_select :category_id, Category.all, :id, :title %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :picture %>
        <%= f.file_field :picture %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :agreement %>
        <%= f.check_box :agreement %>
      </div>
    </div>
    
  	<div>
    	<%= f.submit %>
  	</div>
  <% end %>    
</div>